body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.super-container{
margin:10px;
padding:90px;

}

div.image-box-container{
  float:left; 
 
  position:relative;
}

div.text-box-container{
color:blue; 
position:relative;
}